<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TCGTable</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!-- Header Section -->
    <header>
        <div class="header-div">
            <!-- Logo Section -->
            <div class="logo-container">
                <a href="/">
                    <img src="/images/tcgtablelogo.png" alt="TCGTable Logo" class="logo">
                </a>
            </div>

            <!-- Search Bar Section -->
            <div class="search-container">
                <form action="#" class="search-form">
                    <input type="text" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>
            </div>

            <!-- Nav Section -->
            <nav class="nav-container">
                <ul class="nav-links">
                    <li><a href="/listings">Browse</a></li>
                    <li><a href="/listings/new">Sell</a></li>
                    <li><a href="products.html">Sign Up</a></li>
                    <li><a href="events.html">Login</a></li>
                </ul>
            </nav>
        </div>
        <div class="seperator-thin"></div>
    </header>